*.layout
20220703_Map_/bin/
20220703_Map_/obj/
20220703_Map_/*.layout
BJ22/NumericalAnalysis/build/
BJ22/NumericalAnalysis/dist/
#
iterator/*.o
iterator/*.depend
iterator/bin/
iterator/bin/**
iterator/obj/
iterator/obj/Debug/**
#
EntityBulk_Csharp_Win_/*.suo
EntityBulk_Csharp_Win_/EntityBulk_Csharp_Win_/bin/
EntityBulk_Csharp_Win_/EntityBulk_Csharp_Win_/obj/
EntityBulk_Csharp_Win_/EntityBulk_Csharp_Win_/bin/**
EntityBulk_Csharp_Win_/EntityBulk_Csharp_Win_/obj/**
#
/EntityBulk_Java/nbproject/private/
/EntityBulk_Java/build/**
/EntityBulk_Java/dist/**
#
EntityBulk_Java/build/**
EntityBulk_Java/dist/**
#
OOPMap_wkp/bin/**
OOPMap_wkp/obj/**
OOPMap_wkp/OOPMap/bin/Debug/
OOPMap_wkp/OOPMap/bin/Debug/**
OOPMap_wkp/TestConsole/obj/Debug/
OOPMap_wkp/TestConsole/obj/Debug/**
#
Poly2022/bin/**
Poly2022/obj/**
#
Pseudovector/bin/**
Pseudovector/obj/**
#
iterator_Vcc/*.suo
iterator_Vcc/Debug/
iterator_Vcc/Iterator_Vcpp_/Debug/**
iterator_Vcc/Iterator_Vcpp_/Release/**
/JavaAnt_GuiLocalhost/nbproject/private/
/JavaAnt_GuiLocalhost/build/
/JavaAnt_GuiLocalhost/dist/
#
Rand/obj/
Rand/bin/
#
Rust_guess/guess/target/
#
RustLib/bar/target/**
RustLib/foo/target/**
#
RustBriko/common/target/**
RustBriko/entity/target/**
RustBriko/numerical_analysis/target/**
RustBriko/process/target/**
RustBriko/test_console/target/**
#
Rust_table/target/**
Rust_table/.vscode/**
#
Rust_Dynamics/target/**
Rust_Dynamics/.vscode/**
#
Rust_loop/target/**
Rust_loop/.vscode/**
#
ipch/**
pointerAlgebra/Debug/
pointerAlgebra/Debug/*
*.ipch
*.tlog
*.idb
*.pdb
#
 pointerAlgebra_CB/bin/
 pointerAlgebra_CB/obj/
#
