*.layout
20220703_Map_/bin/
20220703_Map_/obj/
20220703_Map_/*.layout
BJ22/NumericalAnalysis/build/
BJ22/NumericalAnalysis/dist/
#
iterator/*.o
iterator/bin/
iterator/obj/
#
EntityBulk_Csharp_Win_/*.suo
EntityBulk_Csharp_Win_/EntityBulk_Csharp_Win_/bin/
EntityBulk_Csharp_Win_/EntityBulk_Csharp_Win_/obj/
EntityBulk_Csharp_Win_/EntityBulk_Csharp_Win_/bin/**
EntityBulk_Csharp_Win_/EntityBulk_Csharp_Win_/obj/**
/EntityBulk_Java/nbproject/private/
/EntityBulk_Java/build/
/EntityBulk_Java/dist/
#
EntityBulk_Java/build/**
EntityBulk_Java/dist/**
#
OOPMap_wkp/bin/**
OOPMap_wkp/obj/**
OOPMap_wkp/obj/*.layout
