/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [autovettura_id]
      ,[targa_autovettura]
      ,[registration_date]
      ,[km]
      ,[rifornimento_luogo]
      ,[rifornimento_litri]
      ,[costo_gasolio_euro_litro]
      ,[spesa_gasolio_euro]
      ,[accessori_descriz]
      ,[accessori_euro]
      ,[lavaggio_descr]
      ,[lavaggio_euro]
      ,[manutenzione_descr]
      ,[data_ingresso_officina]
      ,[data_uscita_officina]
      ,[manutenzione_euro]
      ,[altro_descriz]
      ,[altro_euro]
      ,[sinistro_descriz]
      ,[conducente]
      ,[riga_descriz]
      ,[costo_totale_riga_euro]
      ,[franchigia_assicurazione_euro]
  FROM [dotazioni2022].[dbo].[generica_autovettura]
  
  --truncate table [dotazioni2022].[dbo].[generica_autovettura]